{% extends "adminpanel/base.html" %}

{% block content %}

<div id="articles-tab">
    <section class="columns">
        <!-- Write article button -->
        <div class="column is-5">
            <section class="hero is-info is-bold is-small">
                <a href="{% url 'articles:article_create' %}">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">Napisz wiadomość</h1>
                        </div>
                    </div>
                </a>
            </section>
        </div>

        <!-- Manage categories button -->
        <div class="column is-7">
            <section class="hero is-link is-bold is-small">
                <a href="{% url 'adminpanel:categories_tab' %}">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">Zarządzaj kategoriami</h1>
                        </div>
                    </div>
                </a>
            </section>
        </div>

    </section>
    
    <br>

    <!-- Articles list -->
    <section id="list-of-all-articles-admin">

        <article class="school-articles-admin">
            {% for article in object_list %}

            <article class="media school-article-admin">
                
                <figure class="media-left">
                    <p class="image is-64-64">
                        <img
                            src="https://cms-files.superszkolna.pl/sites/1029/wiadomosci/323265/fotos/w120x90/img_20190409_113525.jpg">
                    </p>
                </figure>

                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong> {{ article.title }} </strong> <small> {{ article.publish_date }} </small>
                            <br>
                            <span style="word-break:break-all;">
                                {{ article.get_short_body }}...
                            </span>
                        </p>
                    </div>
                </div>

                <div class="media-right">
                    <!-- Is visible icon -->
                    <span class="icon has-text-link is-medium">
                        {% if article.is_visible %}
                            <i class="fas fa-eye fa-lg"></i>
                        {% else %}
                            <i class="fas fa-eye-slash fa-lg"></i>
                        {% endif %}
                    </span>

                    <!-- Edit button -->
                    <a href="{% url 'articles:article_update' slug=article.slug %}">
                        <span class="icon is-medium">
                            <i class="fas fa-edit fa-lg"></i>
                        </span>
                    </a>

                    <!-- Delete button -->
                    <a href="{% url 'articles:article_delete' slug=article.slug %}">
                        <span class="icon is-medium has-text-danger">
                            <i class="fas fa-trash fa-lg"></i>
                        </span>
                    </a>
                    
                </div>

            </article>
            
            {% endfor %}            
        </article>

    </section>
</div>

{% endblock %}