<nav class="navbar is-success is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="{% url 'homepage' %}" class="navbar-item">ZKiW</a>

    <!-- Burger icon -->
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a href="{% url 'homepage' %}" class="navbar-item">
        Strona główna
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Wiadomości
        </a>

        <div class="navbar-dropdown">
          {% for category in category_list %}
            <a class="navbar-item" href="?kategoria={{ category.title }}">{{ category.title }}</a>
          {% endfor %}
      </div>

      <a href="{% url 'lesson_table' %}" class="navbar-item">
        Plan lekcji
      </a>

      <a href="" class="navbar-item">
        Kontakt
      </a>
    </div>
  </div>
</nav>
