<nav class="navbar is-success is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="{% url 'homepage' %}" class="navbar-item">ZKiW</a>

    <!-- Burger icon -->
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a href="{% url 'homepage' %}" class="navbar-item">
        Strona główna
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        

        
        <a class="navbar-link">
          Wiadomości
        </a>
        
        <div class="navbar-dropdown">
          {% for category in category_list %}
            <a href="?kategoria={{ category.title }}" class="navbar-item">{{ category.title }}</a>
          {% endfor %}
          <!--
          <a class="navbar-item" href="#">Biblioteka</a>
          <a class="navbar-item" href="#">Dowozy i odwozy</a>
          <a class="navbar-item" href="#">Harcerstwo</a>
          <a class="navbar-item" href="#">Komunikaty</a>
          <a class="navbar-item" href="#">Konkursy</a>
          <a class="navbar-item" href="#">Ogłoszenia</a>
          <a class="navbar-item" href="#">SKO</a>
          <a class="navbar-item" href="#">Sukcesy uczniów</a>
          <a class="navbar-item" href="#">Szkolne koło "Caritas"</a>
          <a class="navbar-item" href="#">Komunikaty MEN</a>
        -->
        </div>
      </div>
    </div>
  </div>
</nav>