{% extends "base.html" %}

{% block content %}

<div class="card article">
    <div class="card-content">
        <div class="media">
            <div class="media-content has-text-centered">
                <p class="title article-title">
                    {{ object.title }}
                </p>
            </div>
        </div>
        <div class="content article-body">
            <p class="break-word">
                {{ object.body|safe }}
            </p>
            <div class="level">
                <p class="level-left">
                    <small>
                        Wiadomość przeczytana {{ article.views }}
                        {% if article.views > 1 %}
                        razy.
                        {% else %}
                        raz.
                        {% endif %}
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}