{% extends "base.html" %}

{% block content %}

<div class="card article">
    <div class="card-content">
        <div class="media">
            <div class="media-content has-text-centered">
                <p class="title article-title">
                    {{ object.title }}
                </p>
            </div>
        </div>
        <div class="content article-body">
            <p style="word-break:break-all;">
                {{ object.body }}
            </p>
        </div>
    </div>
</div>

{% endblock content %}
