{% extends "base.html" %}

{% block meta_description %}
<meta name="description" content="Strona internetowa Zespołu Kształcenia i Wychowania w Starej Kiszewie im. Jana Pawła II." />
{% endblock %}

{% block content %}

{% for article in object_list %}
<div class="card mb-3">
  <div class="row no-gutters">
    <!-- Left side with an image -->
    <div class="col-md-4">
      <img src="https://cms-files.superszkolna.pl/sites/1029/wiadomosci/323265/fotos/w120x90/img_20190409_113525.jpg" class="card-img" alt="...">
    </div>

    <!-- Right side with text, date etc. -->
    <div class="col-md-8">
      
      <div class="card-body">

        <h5 class="card-title">
          <a href="{% url 'articles:article_details' slug=article.slug %}" style="color: #66cc33;">
            {{ article.title }}
          </a>
        </h5>

        <p class="card-text"> {{ article.get_short_body }}...
          <a href="{% url 'articles:article_details' slug=article.slug %}" style="color: #66cc33;"> CZYTAJ DALEJ </a>
          <p>
            <span class="card-text">
              <small class="text-muted">
                {{ article.publish_date }} |
                <!-- TODO: Add link to articles with same category. -->
                <a href="#" style="color: #66cc33;"> {{ article.category }} </a>
              </small>
            </span>
      </div>

    </div>
  </div>
</div>
{% endfor %}

{% endblock %}